//base
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-font-black;
}
._container {
  max-width: $main-container-size;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;

  //1224px - main container size
}
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

//headings

.heading-button {
  background: #ffffff;
  border-radius: 63.959px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  min-height: 44px;
  text-align: center;
  cursor: pointer;
  &__icon {
    max-width: 24px;
    margin-right: 8px;
  }

  &__value {
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: $color-purple;
  }

  //types
  &_green {
    background-color: $color-green;
    & p {
      font-weight: 700;
      color: $color-grey;
    }
  }
  &_purple {
    background-color: $color-white;
    & p {
      font-weight: 400;
      color: $color-purple;
    }
  }
  &_yellow {
    background-color: $color-white-sub;
    & p {
      font-weight: 700;
      color: $color-grey;
    }
  }
  &_black {
    background-color: $color-font-black;
    & p {
      font-weight: 700;
      color: $color-grey-sub;
    }
  }
}

.heading-type {
  text-align: center;
  &__button {
  }

  &__sub-title {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $md-4) {
      margin-top: 27px;
      font-size: 20px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 25px;
      font-size: 18px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 20px;
      font-size: 16px;
    }

    &_green {
      color: $color-green;
      max-width: 275px;
    }
    &_purple {
      color: $color-purple;
      max-width: 336px;
    }
    &_yellow {
      color: $color-yellow;
      font-weight: 700;
      max-width: 342px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    margin-top: 16px;
    max-width: 797px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $md-4) {
      font-size: 52px;
      max-width: 650px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 40px;
      max-width: 530px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 12px;
      font-size: 30px;
      max-width: 442px;
    }

    &_white {
      margin-top: 8px;
      max-width: 930px;
      margin-left: auto;
      margin-right: auto;
      color: $color-white;
    }
    &_bold {
      font-weight: 700;
    }
  }
}

//cards-info
.cards-info {
  &__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px -10px;
  }

  &__card {
    margin: 10px;
    flex: 0 1 587px;

    background: $color-black-sub;
    border-radius: 16px;

    min-height: 633px;

    position: relative;

    display: flex;
    flex-direction: column;
    padding: 0px 48px 0px 48px;
    @media screen and (max-width: 1222px) {
      flex: 1 1 400px;
    }
    @media screen and (max-width: $md-4) {
      min-height: auto;
      flex: 1 1 360px;
    }
    @media screen and (max-width: $md-4) {
      padding: 0px 38px 0px 38px;
    }
    @media screen and (max-width: 460px) {
      padding: 0px 30px 0px 30px;
    }
  }
  &__content {
    padding: 48px 0px 48px 0px;
    flex: 1 1 auto;

    @media screen and (max-width: $md-4) {
      padding: 38px 0px 38px 0px;
    }
    @media screen and (max-width: 460px) {
      padding: 30px 0px 30px 0px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 140%;
    color: $color-green;
  }

  &__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 218%;
    color: $color-white;

    margin-top: 11px;
    &_big {
      font-size: 14px;
      line-height: 171%;
    }
    @media screen and (max-width: $md-4) {
      font-size: 14px;
      line-height: 171%;
    }
  }

  &__image {
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;

    & img {
      width: 100%;
    }

    &_bottom-middle {
      margin-bottom: 48px;
    }
    &_center {
      margin-bottom: 150px;

      @media screen and (max-width: 769px) {
        margin-bottom: 50px;
      }
    }
  }
}

//info map block
.info-map {
  display: flex;

  @media screen and (max-width: 580px) {
    flex-wrap: wrap;
  }
  &__getting-started {
    flex: 0 1 508px;
    margin: 0px 40px;
    @media screen and (max-width: $md-4) {
      margin: 0px 20px;
    }

    @media screen and (max-width: $md-3) {
      margin: 0px 10px;
    }
    @media screen and (max-width: 580px) {
      flex: 1 1 508px;
      margin: 0px 0px;
      text-align: center;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 120%;
    color: $color-white;
    max-width: 314px;

    @media screen and (max-width: $md-4) {
      font-size: 35px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 26px;
      max-width: 214px;
    }
    @media screen and (max-width: 580px) {
      margin: 0 auto;
    }
    @media screen and (max-width: $md-2) {
      font-size: 24px;
    }
  }

  &__work-link {
    margin-top: 21px;
    display: inline-block;
    font-size: 20px;
    line-height: 140%;
    color: $color-green;
    padding: 10px 50px 10px 0px;

    background: url('../../img/payments/icons/arrow-right.svg') right center no-repeat;

    transition: all 0.5s ease 0s;

    @media screen and (min-width: $md-2) {
      &:hover {
        padding-right: 35px;
        @media screen and (max-width: $md-4) {
          padding-right: 25px;
        }
      }
    }
    @media screen and (max-width: $md-4) {
      font-size: 18px;
      margin-top: 15px;
      padding-right: 40px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 16px;
      padding-right: 30px;
      margin-top: 10px;
    }
  }

  &__links {
    flex: 0 1 508px;
    margin: 0px 40px;
    padding: 8px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: $md-4) {
      margin: 0px 20px;
    }

    @media screen and (max-width: $md-3) {
      margin: 0px 10px;
    }
    @media screen and (max-width: 580px) {
      margin: 0px 0px;
      flex: 1 1 508px;
      margin-top: 30px;
      padding-left: 60px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 80%;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        background-color: $color-white;
      }
    }
    @media screen and (max-width: $md-2) {
      padding: 0px 0px 0px 40px;

      &::before {
        left: 10px;
      }
    }
  }

  &__link {
    display: inline-block;
    font-size: 24px;
    line-height: 150%;
    color: $color-white;
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 12px;
      @media screen and (max-width: $md-4) {
        margin-bottom: 10px;
      }
    }
    &:first-child {
      margin-bottom: 24px;
      @media screen and (max-width: $md-4) {
        margin-bottom: 22px;
      }
    }

    &::before {
      @media screen and (min-width: $md-2) {
        transition: all 0.5s ease 0s;
        content: '';
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        z-index: 2;
      }
    }

    &:hover {
      &::before {
        left: 0;
      }
    }
    @media screen and (max-width: $md-4) {
      font-size: 20px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 18px;
    }
  }
}

//support platforms list
.platforms-support {
  &__title {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color-yellow;

    @media screen and (max-width: $md-3) {
      text-align: center;
    }
  }

  &__items {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -5px;
    margin-right: -5px;
    @media screen and (max-width: $md-4) {
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
    }
    @media screen and (max-width: $md-3) {
      justify-content: center;
      max-width: 600px;
      margin: 22px auto 0 auto;
    }
  }

  &__item {
    border: 1px solid #ededed;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 6px 18px 6px 6px;

    @media screen and (min-width: $md-4) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: $md-4) {
      margin: 10px 5px;
    }

    transition: all 0.3s ease 0s;

    @media screen and (min-width: $md-2) {
      &:hover {
        background-color: $color-green;
        border-color: $color-white;

        & .platforms-support__label {
          // color: $color-grey;
          color: $color-grey;
        }
      }
    }
  }

  &__icon {
    max-width: 24px;
    margin-right: 10px;
    & img {
      width: 100%;
    }
  }

  &__label {
    font-size: 17px;
    line-height: 140%;
  }
}

//team slider
.slider-team {
  border-radius: 8px;
  &__inner {
    &.swiper-wrapper {
      align-items: stretch;
    }
  }

  &__slide {
    background: $color-white-sub;
    border-radius: 8px;

    display: flex;
    align-items: flex-start;
    padding: 48px 42px 48px 30px;

    @media screen and (max-width: 1130px) {
      padding: 38px 32px 38px 32px;
    }
    @media screen and (max-width: $md-4) {
      padding: 24px 20px;
    }
    @media screen and (max-width: $md-3) {
      flex-direction: column;
      align-items: flex-start;

      & .slider-team__photo {
        margin-left: 50px;
        transition: all 0.5s ease 0s;
      }
      & .slider-team__content {
        margin-left: 50px;
        transition: all 0.5s ease 0s;
      }
    }

    @media screen and (max-width: $md-2) {
      padding: 15px 15px;
    }

    &:nth-child(1) {
      @media screen and (max-width: $md-3) {
        & .slider-team__photo {
          background-position: top;
        }
      }
    }
    &:nth-child(2) {
      background-color: $color-yellow;

      & .slider-team__label {
        border: 1px solid $color-orange;
      }
      & .slider-team__name-value {
        color: $color-grey;
        top: 32px;

        @media screen and (max-width: $md-3) {
          top: auto;
          bottom: 16px;
        }
      }
    }
    &:nth-child(3) {
      background-color: $color-green;

      & .slider-team__label {
        border: 1px solid $color-purple;
      }
      & .slider-team__name-value {
        color: $color-black-sub;
        top: 32px;
        @media screen and (max-width: $md-3) {
          top: 16px;
        }
      }
    }
    &:nth-child(4) {
      background-color: $color-purple;

      & .slider-team__label {
        border: 1px solid $color-grey;
      }
      & .slider-team__label-value {
        color: $color-grey-sub;
      }
      & .slider-team__name-value {
        color: $color-grey-sub;
        bottom: 32px;
        @media screen and (max-width: $md-3) {
          bottom: 16px;
        }
      }
      & .slider-team__info-item {
        border-bottom: 1px solid $color-grey;
      }
      & .slider-team__info {
        color: $color-grey-sub;
      }
    }
    &:last-child {
      & .slider-team__content {
        flex: 0 1 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;

        height: 100%;
        @media screen and (max-width: 1130px) {
          flex: 0 1 100%;
        }
        @media screen and (max-width: $md-4) {
          flex: 0 1 100%;
        }
        @media screen and (max-width: $md-3) {
          flex: 0 1 auto;
          width: 100%;
        }
      }
      & .slider-team__quote {
        max-width: none;

        @media screen and (max-width: 1130px) {
          max-width: none;
        }
      }
      & .slider-team__info {
        max-width: none;
        width: 100%;
      }
      & .slider-team__photo {
        flex: 0 0 450px;

        @media screen and (max-width: $md-4) {
          flex: 0 0 300px;
        }
        @media screen and (max-width: $md-3) {
          flex: 0 1 auto;
          width: 100%;
        }
      }
      & .slider-team__order {
        @media screen and (max-width: $md-3) {
          width: 100%;
        }
      }
    }
    transition: all 0.5s ease 0s;
    &.swiper-slide-next {
      transition: all 0.5s ease 0s;
      margin-left: -150px;
      cursor: pointer;
      @media screen and (max-width: $main-container-size-mod) {
        margin-left: -100px;
      }
      @media screen and (max-width: 1130px) {
        margin-left: -74px;
      }
      @media screen and (max-width: 800px) {
        margin-left: -52px;
      }
      @media screen and (max-width: $md-3) {
        margin-left: -66px;
      }
      @media screen and (max-width: 516px) {
        margin-left: -58px;
      }
      @media screen and (max-width: $md-2) {
        margin-left: -48px;
      }
    }
    &.swiper-slide-active {
      transition: all 0.5s ease 0s;

      @media screen and (max-width: $md-3) {
        & .slider-team__photo {
          margin-left: 0px;
        }
        & .slider-team__content {
          margin-left: 0px;
        }
      }
    }
    &.swiper-slide {
      height: auto;
    }
  }

  &__order {
    margin-right: 30px;
    flex: 0 1 17px;
    position: relative;
    @media screen and (max-width: $md-4) {
      margin-right: 20px;
      margin-top: 40px;
    }
    @media screen and (max-width: $md-3) {
      flex: 0 1 auto;
      margin-top: 0px;
      margin-right: 0px;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;

      width: 88%;
    }
    @media screen and (max-width: 430px) {
      width: 80%;
    }
  }

  &__number {
    font-size: 14px;
    line-height: 100%;
    @media screen and (max-width: $md-3) {
      font-size: 26px;
      margin-right: 16px;
    }
    @media screen and (max-width: 516px) {
      font-size: 20px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 16px;
    }
  }

  &__profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0px) rotate(-90deg);
    @media screen and (max-width: $md-4) {
      top: 45px;
    }
    @media screen and (max-width: $md-3) {
      position: static;
      transform: none;
      font-size: 16px;
      flex: 1 1 auto;
      margin-right: 10px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 14px;
    }
  }

  &__photo {
    flex: 0 1 450px;

    padding-bottom: 46.38%;
    position: relative;
    margin-right: 30px;
    border-radius: 20px;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    @media screen and (max-width: 1130px) {
      padding-bottom: 55%;
      margin-right: 20px;
    }
    @media screen and (max-width: $md-4) {
      flex: 0 1 300px;
    }
    @media screen and (max-width: $md-3) {
      flex: 0 1 auto;
      margin-right: 0px;
      padding-bottom: 50%;
      width: 88%;
      margin-top: 30px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 20px;
    }
    @media screen and (max-width: 430px) {
      width: 80%;
    }
  }

  &__name-value {
    position: absolute;
    bottom: 32px;
    left: 40px;
    font-size: 24px;
    line-height: 150%;
    color: $color-white;
    @media screen and (max-width: 1130px) {
      font-size: 20px;
    }
    @media screen and (max-width: $md-3) {
      left: 20px;
      bottom: 16px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 16px;
    }
  }

  &__content {
    flex: 0 1 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    @media screen and (max-width: 1130px) {
      flex: 0 1 340px;
    }
    @media screen and (max-width: $md-4) {
      flex: 0 1 380px;
    }
    @media screen and (max-width: 896px) {
      flex: 0 1 300px;
    }
    @media screen and (max-width: 798px) {
      flex: 0 1 280px;
    }
    @media screen and (max-width: $md-3) {
      flex: 0 1 auto;
      width: 88%;
    }
    @media screen and (max-width: 430px) {
      width: 80%;
    }
  }

  &__label {
    border: 1px solid #6ee4b5;
    border-radius: 56px;
    display: inline-block;
    padding: 10px 13px 10px 13px;
    @media screen and (max-width: 430px) {
      padding: 5px 10px 5px 10px;
    }
  }

  &__label-value {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    @media screen and (max-width: $md-2) {
      font-size: 10px;
    }
  }

  &__quote {
    margin-top: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    max-width: 382px;

    @media screen and (max-width: 1130px) {
      font-size: 18px;
      max-width: 300px;
      margin-top: 30px;
    }
    flex: 1 1 100%;

    @media screen and (max-width: $md-4) {
      max-width: none;
      width: 100%;
      font-size: 16px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 14px;
    }
  }

  &__info {
    margin-top: 106px;
    max-width: 400px;
    width: 100%;
    @media screen and (max-width: 1130px) {
      margin-top: 50px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 30px;
      max-width: none;
      width: 100%;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 20px;
    }
  }

  &__info-item {
    padding: 14px 0px;
    border-bottom: 1px solid $color-white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
    column-gap: 20px;
    // grid-auto-rows: minmax(42px, auto);

    @media screen and (max-width: $md-3) {
      &:last-child {
        border: none;
      }
    }
    @media screen and (max-width: 430px) {
      column-gap: 10px;
    }
  }

  &__info-channels {
    font-size: 14px;
    font-weight: 700;
    @media screen and (max-width: $md-2) {
      font-size: 12px;
    }
  }

  &__info-activity {
    font-size: 14px;
    font-weight: 700;
    @media screen and (max-width: $md-2) {
      font-size: 12px;
    }
    @media screen and (max-width: 430px) {
      justify-self: right;
    }
  }

  &__info-value {
    display: flex;
    align-items: center;
  }

  &__info-icon {
    max-width: 20px;
    margin-right: 10px;
    & img {
      width: 100%;
    }
    @media screen and (max-width: 430px) {
      margin-right: 5px;
      max-width: 12px;
    }
  }

  &__info-name {
    font-size: 14px;
    line-height: 100%;
    @media screen and (max-width: $md-2) {
      font-size: 12px;
    }
  }

  &__info-type {
    font-size: 14px;
    line-height: 100%;
    @media screen and (max-width: $md-2) {
      font-size: 12px;
    }
    @media screen and (max-width: 430px) {
      justify-self: right;
    }
  }
}
