//main
.main {
  background-color: $color-white;
  &__preview {
    padding-top: 114px;
    background-color: $color-white;
    @media screen and (max-width: $md-4) {
      padding-top: 104px;
    }
    @media screen and (max-width: $md-3) {
      padding-top: 94px;
    }
    @media screen and (max-width: $md-2) {
      padding-top: 60px;
    }
  }
  &__community {
    margin-top: -60px;
    padding: 236px 0px 140px 0px;

    @media screen and (max-width: $md-4) {
      padding: 206px 0px 120px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 186px 0px 80px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 86px 0px 60px 0px;
      margin-top: -20px;
    }
  }
  &__business {
    padding: 199px 0px 249px 0px;
    background-color: $color-white;
    @media screen and (max-width: $md-4) {
      padding: 169px 0px 209px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 129px 0px 169px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 100px 0px 130px 0px;
    }
  }
  &__organized {
    background-color: $color-white-sub;
    padding: 100px 0px;
    @media screen and (max-width: $md-4) {
      padding: 80px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 60px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 50px 0px;
    }
  }
  &__payments {
    padding: 160px 0px;
    background-color: $color-font-black;

    @media screen and (max-width: $md-4) {
      padding: 120px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 80px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 50px 0px;
    }
  }
  &__splits {
    padding: 164px 0px;
    background-color: $color-white;
    @media screen and (max-width: $md-4) {
      padding: 120px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 80px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 50px 0px;
    }
  }
  &__collectives {
    background-color: $color-grey;
    padding-top: 140px;
    @media screen and (max-width: $md-4) {
      padding-top: 100px;
    }
    @media screen and (max-width: $md-3) {
      padding-top: 80px;
    }
    @media screen and (max-width: $md-2) {
      padding-top: 50px;
    }
  }
  &__team {
    background-color: $color-white;
    padding: 210px 0px 180px 0px;
    margin-top: -190px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: $md-4) {
      padding: 180px 0px 160px 0px;
      margin-top: -160px;
    }
    @media screen and (max-width: $md-3) {
      padding: 120px 0px 120px 0px;
      margin-top: -100px;
    }
    @media screen and (max-width: $md-2) {
      padding: 60px 0px 60px 0px;
      margin-top: -60px;
    }
  }
  &__secure {
    background-color: $color-font-black;
  }
  &__benefits {
    padding: 164px 0px 144px 0px;

    @media screen and (max-width: $md-4) {
      padding: 120px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 80px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 60px 0px;
    }
  }
  &__creators {
    background-color: $color-font-black;
    padding: 180px 0px 284px 0px;
    @media screen and (max-width: $md-4) {
      padding: 160px 0px 240px 0px;
    }
    @media screen and (max-width: $md-3) {
      padding: 120px 0px 140px 0px;
    }
    @media screen and (max-width: $md-2) {
      padding: 60px 0px 80px 0px;
    }
  }
}

//preview
.preview {
  &__container {
  }

  &__content {
  }

  &__title {
    font-size: 64px;
    line-height: 106%;

    text-align: center;
    max-width: 825px;
    margin: 0 auto;
    @media screen and (max-width: $md-4) {
      font-size: 58px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 52px;
      max-width: 625px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    max-width: 613px;

    margin: 34px auto 0 auto;

    @media screen and (max-width: $md-4) {
      margin-top: 30px;
      font-size: 18px;
      max-width: 543px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 28px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__form {
    max-width: 478px;
    margin: 40px auto 0px auto;
    display: flex;
    align-items: center;

    border: 1px solid #7352ff;
    border-radius: 19.9872px;
    min-height: 56px;
    position: relative;
    z-index: 1;
    background-color: $color-white;
    @media screen and (max-width: $md-4) {
      margin-top: 35px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 30px;
    }
    & input {
      flex: 1 1 auto;
      padding: 20px 171px 20px 31px;
      border-radius: 19.9872px;
      font-size: 12px;
      line-height: calc(14 / 12);
      color: $color-black;
      &::placeholder {
        color: $color-black;
        opacity: 1;
      }
      @media screen and (max-width: $md-2) {
        padding: 20px 131px 20px 31px;
      }
    }
    & button {
      @include button-form($color-white, $color-purple, $color-white, $color-orange, $color-purple, $color-green);
      position: absolute;
      top: -1px;
      right: -1.5px;
      @media screen and (max-width: $md-2) {
        padding: 21px 25px;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-purple;
      border-radius: 19.9872px;
      opacity: 0;
      transition: all 2s linear;
      z-index: -1;
    }
    &:before {
      transform: scale(1);
      animation: pulse 2s infinite linear;
    }
    &:after {
      animation: pulse 2s 1s infinite linear;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.4);
        opacity: 0;
      }
      33% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(1.05);
        opacity: 0;
      }
    }
  }
  &__slider-wrapper {
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, 0px);
    // width: 100vw;
  }
  &__slider {
    // margin: 153px auto 0px auto;
    margin-top: 153px;
    width: 264px;
    height: 264px;
    &.swiper {
      overflow: visible;
      // left: 50%;
      // transform: translate(-50%, 0%);
    }

    @media screen and (max-width: $md-4) {
      margin-top: 133px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 113px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 93px;
    }
  }
  &__image-decor {
    position: relative;
    // left: 50%;
    // bottom: 0;
    // transform: translate(-50%, 0);
    top: -20px;
    z-index: 1;
    max-width: 1139px;
    margin: 0 auto;

    border-radius: 11.9923px;
    @media screen and (max-width: 1200px) {
      padding: 0px 20px;
    }
    @media screen and (max-width: $md-2) {
      display: none;
    }
    & img {
      width: 100%;
      border-radius: 11.9923px;
      box-shadow: 0px -16px 64px rgba(43, 42, 53, 0.32);
    }
  }
}
.slider-preview {
  &__inner {
    // display: flex;
    // justify-content: center;
  }

  &__slide {
    position: relative;
    width: 264px;
    height: 264px;
    // margin: 0px 28px;
    flex: 0 0 264px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &__info {
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 3.99744px;
    display: inline-block;
    font-size: 12px;
    line-height: 250%;
    padding: 1px 12px;

    position: absolute;
    top: -25px;
    left: -25px;

    &_reverse {
      top: auto;
      left: auto;
      bottom: 55px;
      right: -20px;
    }
  }

  &__name {
    border-bottom: 1px solid #f7f2e4;
  }

  &__job {
  }

  &__social {
    background: #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 3.99744px;

    padding: 4px 0px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 55px;
    right: -20px;

    &_reverse {
      top: 55px;
      left: -25px;
      bottom: auto;
      right: auto;
    }
  }

  &__icon {
    // margin: 6px 0px;
    padding: 6px 12px;
    & img {
      width: 28px;
    }
    @media screen and (min-width: $md-2) {
      transition: all 0.2s linear 0s;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

//community
.community {
  background-color: $color-font-black;
  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: $color-white;
    max-width: 555px;
    padding: 0px 15px;
    margin: 0 auto;
    @media screen and (max-width: $md-4) {
      font-size: 36px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 30px;
      max-width: 365px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 25px;
      max-width: 365px;
    }
  }

  &__slider {
    margin: 102px 0px 0px 0px;
    @media screen and (max-width: $md-4) {
      margin: 82px 0px 0px 0px;
    }
    @media screen and (max-width: $md-3) {
      margin: 72px 0px 0px 0px;
    }
    @media screen and (max-width: $md-2) {
      margin: 62px 0px 0px 0px;
    }
  }

  &__featured {
    margin: 100px 0px 0px 0px;
    text-align: center;
    @media screen and (max-width: $md-4) {
      margin: 82px 0px 0px 0px;
    }
    @media screen and (max-width: $md-3) {
      margin: 72px 0px 0px 0px;
    }
    @media screen and (max-width: $md-2) {
      margin: 62px 0px 0px 0px;
    }
  }

  &__featured-title {
    max-width: 300px;
    margin: 0 auto;

    font-size: 14px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.559642px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    @media screen and (max-width: 430px) {
      font-size: 12px;
    }
  }

  &__featured-items {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 430px) {
      margin-top: 20px;
      flex-direction: column;
    }
  }

  &__featured-item {
    padding: 20px 20px;
    max-width: 140px;
    width: 100%;
    cursor: pointer;

    transition: all 0.5s ease 0s;

    @media screen and (min-width: 430px) {
      &:hover {
        transform: scale(1.6);
      }
    }
    @keyframes scale-feature {
      0% {
        transform: scale(1);
      }
      16.6665% {
        transform: scale(1.3);
      }
      33.333% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 430px) {
      animation-name: scale-feature;
      animation-duration: 9s;
      animation-iteration-count: infinite;
      animation-delay: 3s;
      &:first-child {
        animation-delay: 0s;
      }
      &:last-child {
        animation-delay: 6s;
      }
    }
  }
}
.slider-community {
  max-width: 752px;

  &.swiper {
    overflow: visible;
    @media screen and (max-width: 782px) {
      padding: 0px 20px;
    }
  }
  &__inner {
  }

  &__slide {
    max-width: 752px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 101.5%;
      width: 96.5%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $color-white;
      border-radius: 3.99744px;
    }
    transition: scale 0.5s ease 0s;
    &.swiper-slide {
      transform: scale(0.909) !important;
    }
    &.swiper-slide-active {
      transform: scale(1) !important;
    }
    // &.swiper-slide-prev {
    //   transform: scale(0.909) !important;
    // }
    // &.swiper-slide-next {

    // }
  }

  &__image {
    padding-bottom: 57%;
    position: relative;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__pagination {
    color: $color-white;
    font-size: 10px;
    line-height: 140%;
    &.swiper-pagination {
      text-align: left;
    }
    &.swiper-pagination-fraction {
      left: 30px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 12px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 14px;
    }
  }

  &__control {
    margin-top: 82px;
    display: flex;
    justify-content: center;
    & img {
      padding: 10px;
      margin: 0 6px;
      cursor: pointer;
      transition: all 0.5s ease 0s;

      &:hover {
        transform: scale(0.9);
      }
      &:active {
        transform: scale(0.8);
      }

      @media screen and (max-width: $md-2) {
        margin: 0 2px;
      }
    }
    @media screen and (max-width: $md-4) {
      margin-top: 62px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 42px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 32px;
    }
  }

  &__control-preview {
  }

  &__control-next {
  }
}

//business
.business {
  &__container {
  }

  &__inner {
    text-align: center;
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $color-orange;
    display: inline-block;
    max-width: 160px;
    border-right: solid 3px $color-orange;
    white-space: nowrap;
    overflow: hidden;

    &_active {
      animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    max-width: 819px;
    margin: 15px auto 0 auto;

    @media screen and (max-width: $md-4) {
      font-size: 35px;
      max-width: 719px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 30px;
      max-width: 619px;
    }
    @media screen and (max-width: $md-2) {
      max-width: 444px;
      font-size: 22px;
      margin-top: 10px;
    }
  }
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: $color-orange;
  }
  to {
    border-right-color: transparent;
  }
}

//organized
.organized {
  &__container {
  }

  &__inner {
    text-align: center;
  }

  &__exceptions {
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: $md-4) {
      margin-top: 76px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 56px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 36px;
      position: relative;
    }
  }

  &__exception {
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    padding: 0px 24px;
    margin: 0px 32px;
    position: relative;
    white-space: nowrap;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-yellow;

      @media screen and (max-width: $md-3) {
        height: 2px;
      }
    }

    @media screen and (max-width: $md-4) {
      margin: 0px 26px;
    }
    @media screen and (max-width: $md-3) {
      margin: 0px 10px;
      padding: 0px 14px;
      font-size: 18px;
    }
    @media screen and (max-width: $md-2) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0px);
      margin: 0px 0px;
      opacity: 0;
      visibility: hidden;

      animation-name: oppacity-organized;
      animation-duration: 9s;
      animation-iteration-count: infinite;
      animation-delay: 3s;
      &:first-child {
        animation-delay: 0s;
      }
      &:last-child {
        animation-delay: 6s;
      }
    }
  }

  &__revenue {
  }
  &__social {
    margin-top: 40px;

    @media screen and (max-width: $md-2) {
      margin-top: 30px;
    }
  }
}

.revenue-breakdown {
  @media screen and (max-width: 540px) {
    overflow-x: scroll;
    border-radius: 12px;
    margin-top: 50px;
    position: relative;
  }
  &__mobile {
    transition: all 0.7s ease 0s;
  }
  &__inner {
    max-width: 860px;
    margin: 80px auto 0 auto;

    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.01);
    border-radius: 12px;
    padding: 8px 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(55px, auto);
    grid-auto-flow: row;
    grid-auto-rows: minmax(68px, auto);

    @media screen and (max-width: $md-4) {
      margin-top: 70px;
    }
    @media screen and (max-width: $md-3) {
      grid-template-rows: minmax(45px, auto);
      grid-auto-rows: minmax(55px, auto);
      margin-top: 50px;
    }
    @media screen and (max-width: 540px) {
      min-width: 510px;
      margin-top: 0px;
    }
  }

  &__heading {
  }

  &__item {
    display: grid;
    grid-template-columns: 45% 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    padding: 10px 0px;

    &:not(:last-child) {
      border-bottom: 1px solid #ededed;
    }

    @media screen and (max-width: $md-3) {
      grid-template-columns: 30% 1fr 1fr 1fr;
    }
  }

  &__heading-value {
    font-size: 16px;
    line-height: 140%;
    padding-right: 10px;
    @media screen and (max-width: $md-3) {
      font-size: 14px;
    }
  }

  &__heading-date {
    font-size: 12px;
    line-height: 140%;
    color: #616a7e;
    justify-self: center;
    @media screen and (max-width: $md-3) {
      font-size: 11px;
    }
  }

  &__heading-breakdown {
    font-size: 12px;
    line-height: 140%;
    color: #616a7e;
    justify-self: right;
    padding-right: 15px;
    @media screen and (max-width: $md-3) {
      font-size: 11px;
    }
  }

  &__heading-month {
    font-size: 12px;
    line-height: 140%;
    color: #616a7e;
    justify-self: right;
    @media screen and (max-width: $md-3) {
      font-size: 11px;
    }
  }

  &__company {
    display: flex;
    align-items: center;
  }

  &__icon {
    max-width: 34px;
    margin-right: 16px;
    @media screen and (max-width: $md-3) {
      max-width: 23px;
    }
  }

  &__info {
    text-align: left;
  }

  &__name {
    font-size: 14px;
    line-height: 140%;
    @media screen and (max-width: $md-3) {
      font-size: 12px;
    }
  }

  &__paid {
    font-size: 12px;
    line-height: 140%;
    color: #616a7e;
    @media screen and (max-width: $md-3) {
      font-size: 11px;
    }
  }

  &__date {
    justify-self: center;
  }

  &__date-value {
    font-size: 14px;
    line-height: 140%;
    @media screen and (max-width: $md-3) {
      font-size: 12px;
    }
  }

  &__breakdown {
    justify-self: right;
    padding-right: 15px;
  }

  &__breakdown-value {
    font-size: 14px;
    line-height: 140%;
    @media screen and (max-width: $md-3) {
      font-size: 12px;
    }
  }

  &__month {
    justify-self: right;
  }

  &__month-value {
    font-size: 14px;
    line-height: 140%;
    @media screen and (max-width: $md-3) {
      font-size: 12px;
    }
  }
}
._revenue-breakdown-mobile {
  opacity: 0;
  visibility: hidden;
  @media screen and (max-width: 540px) {
    opacity: 1;
    visibility: visible;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ecab3352;
      border-radius: 12px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-80%, -50%);
      width: 80px;
      height: 80px;
      background: url('../../img/organized/icons/touch-icon.svg') center no-repeat;

      animation-name: mobile-help-touch;
      animation-duration: 3s;
      animation-iteration-count: infinite;

      @keyframes mobile-help-touch {
        0% {
          transform: translate(-80%, -50%);
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 0;
        }
        100% {
          transform: translate(-30%, -50%);
          left: 30%;
          opacity: 0;
        }
      }
    }
  }
}
@keyframes oppacity-organized {
  0% {
    opacity: 0;
  }
  16.6665% {
    opacity: 1;
    visibility: visible;
  }
  33.333% {
    opacity: 0;
  }
}
.social-module {
  padding: 82px 66px;
  border: 2px solid #babec3;
  border-radius: 24px;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $md-4) {
    padding: 62px 46px;
  }
  @media screen and (max-width: $md-3) {
    padding: 42px 36px;
  }
  @media screen and (max-width: 630px) {
    display: block;
  }
  @media screen and (max-width: $md-2) {
    padding: 20px 20px;
  }
  &__content {
    flex: 0 1 328px;
    text-align: left;
    margin-right: 20px;
    @media screen and (max-width: 630px) {
      margin-right: 0px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: left;
    max-width: 294px;

    @media screen and (max-width: $md-3) {
      font-size: 30px;
      max-width: 204px;
    }
    @media screen and (max-width: 630px) {
      margin: 0 auto;
      max-width: 304px;
      text-align: center;
    }
    @media screen and (max-width: $md-2) {
      font-size: 26px;
      max-width: 300px;
    }
  }

  &__text {
    margin-top: 31px;
    font-size: 16px;
    line-height: 150%;
    color: #616a7f;
    max-width: 304px;
    @media screen and (max-width: $md-3) {
      margin-top: 20px;
    }
    @media screen and (max-width: 630px) {
      margin: 20px auto 0px auto;
      text-align: center;
    }
    @media screen and (max-width: $md-2) {
      font-size: 14px;
      margin-top: 15px;
    }
  }

  &__items {
    flex: 0 1 256px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media screen and (max-width: $md-3) {
      flex: 0 1 190px;
    }
    @media screen and (max-width: 630px) {
      max-width: 276px;
      margin: 20px auto 0px auto;
      justify-content: center;
    }
  }

  &__item {
    flex: 0 1 40px;
    margin: 12px 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    @media screen and (max-width: $md-3) {
      flex: 0 1 30px;
      margin: 8px 8px;
    }
    &:hover {
      @media screen and (min-width: $md-2) {
        transform: scale(1.3);
      }
    }

    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

//payments
.payments {
  &__container {
  }

  &__heading {
  }

  &__content {
    margin-top: 150px;
    @media screen and (max-width: $md-4) {
      margin-top: 110px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 90px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 40px;
    }
  }

  &__info {
    margin-top: 110px;
    max-width: 1178px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $md-4) {
      margin-top: 80px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 60px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 40px;
    }
  }
}

//splits
.splits {
  &__container {
  }

  &__heading {
    padding-bottom: 55px;
    background: url('../../img/splits/icons/arrows-back.svg') bottom center / 100% no-repeat;

    transition: all 0.5s ease 0s;

    @media screen and (min-width: $md-2) {
      &:hover {
        background-size: 90%;
      }
    }
    @media screen and (max-width: 600px) {
      padding-bottom: 30px;
    }
    @media screen and (max-width: 400px) {
      background: none;
      padding-bottom: 0px;
    }
  }
  &__content {
    margin-top: 144px;
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: $md-4) {
      margin-top: 110px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 40px;

      flex-direction: column-reverse;
      align-items: center;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 40px;
    }
    @media screen and (max-width: 380px) {
      margin-top: 30px;
    }
  }

  &__about {
    flex: 0 1 440px;
    margin-right: 122px;

    @media screen and (max-width: $md-4) {
      margin-right: 80px;
    }
    @media screen and (max-width: $md-3) {
      margin-right: 0px;

      margin-top: 60px;
      flex: 0 1 auto;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 0px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    max-width: 434px;
    @media screen and (max-width: $md-4) {
      font-size: 20px;
      max-width: 360px;
    }
    @media screen and (max-width: $md-3) {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 16px;
    }
  }

  &__platforms {
    margin-top: 74px;
    @media screen and (max-width: $md-4) {
      margin-top: 45px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 35px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 25px;
    }
  }

  &__image {
    flex: 0 1 900px;
    margin-right: -266px;

    @media screen and (max-width: $md-3) {
      flex: 0 1 auto;
      margin-right: 0px;
      padding: 0px 40px;
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        height: 150px;
        width: 115%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-purple;
        z-index: -1;

        @media screen and (max-width: $md-2) {
          height: 100px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      padding: 0px 20px;
    }
    @media screen and (max-width: $md-2) {
      display: none;
    }
    & img {
      width: 100%;
      @media screen and (max-width: $md-3) {
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        border-radius: 2%;
      }
    }
  }
}

//collectives
.collectives {
  &__container {
  }

  &__heading {
    max-width: 750px;
    margin: 0 auto;
  }

  &__coming {
    margin-top: 70px;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: $color-white;

    @media screen and (max-width: $md-4) {
      margin-top: 60px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 50px;
      font-size: 18px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 40px;
    }
  }

  &__image {
    max-width: 100%;
    margin-top: 72px;

    & img {
      width: 100%;
    }

    @media screen and (max-width: $md-4) {
      margin-top: 60px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 50px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 40px;
    }
  }
}

//team
.team {
  &__container {
  }

  &__title {
    max-width: 794px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    @media screen and (max-width: $md-4) {
      font-size: 38px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 32px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 24px;
    }
  }

  &__slider {
    margin-top: 212px;
    @media screen and (max-width: $md-4) {
      margin-top: 160px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 90px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 60px;
    }
  }
}

//secure
.secure {
  &__container {
    padding: 302px 15px 212px 15px;
    @media screen and (max-width: $md-4) {
      padding: 230px 15px 160px 15px;
    }
    @media screen and (max-width: $md-3) {
      padding: 160px 15px 80px 15px;
    }
    @media screen and (max-width: $md-2) {
      padding: 80px 15px 80px 15px;
    }
  }
  &__sub-inner {
    max-width: $container-size-secure;

    margin: 0 auto;

    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 508px;
      height: 100%;
      background: url('../../img/security/background.png') 0 0 / 508px 920px repeat;
      z-index: -1;
      @media screen and (max-width: 1133px) {
        left: -130px;
      }
      @media screen and (max-width: $md-4) {
        left: -230px;
      }
      @media screen and (max-width: 940px) {
        left: 0;
        background-image: url('../../img/security/background-oppacity.png');
        opacity: 0.15;
      }
      @media screen and (max-width: $md-2) {
        left: -200px;
      }

      animation: decor-secure-slide 30s linear infinite;
      @keyframes decor-secure-slide {
        100% {
          background-position: center -920px;
        }
      }
    }
  }
  &__inner {
    color: $color-white;
    max-width: 598px;
    margin: 0px 0px 0px auto;

    @media screen and (max-width: $md-3) {
      margin: 0px auto;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 140%;
    color: $color-orange;
    @media screen and (max-width: $md-4) {
      font-size: 18px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 16px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 14px;
    }
  }

  &__title {
    margin-top: 14px;
    font-size: 40px;
    line-height: 120%;
    max-width: 482px;
    @media screen and (max-width: $md-4) {
      font-size: 32px;
      margin-top: 12px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 28px;
      max-width: 340px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 10px;
      font-size: 24px;
      max-width: 300px;
    }
  }

  &__list {
    margin-top: 144px;
    @media screen and (max-width: $md-4) {
      margin-top: 100px;
    }
    @media screen and (max-width: $md-3) {
      margin-top: 60px;
    }
    @media screen and (max-width: $md-2) {
      margin-top: 50px;
    }
  }

  &__list-item {
    font-size: 20px;
    line-height: 140%;
    padding-left: 36px;

    transition: all 0.5s ease 0s;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
    background: url('../../img/security/icon/ok-icon.svg') left 6px / 23px no-repeat;

    &:hover {
      padding-left: 30px;

      @media screen and (max-width: $md-4) {
        padding-left: 26px;
      }
      @media screen and (max-width: $md-3) {
        padding-left: 24px;
      }
      @media screen and (max-width: $md-2) {
        padding-left: 24px;
      }
    }

    @media screen and (max-width: $md-4) {
      font-size: 18px;
      background-size: 20px;
      padding-left: 30px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 16px;
      background-size: 18px;
      padding-left: 28px;
      background-position: left 4px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 14px;
      background-size: 16px;
      padding-left: 24px;
      background-position: left 2px;
    }
  }
}

//benefits
.benefits {
  &__container {
  }

  &__inner {
  }

  &__heading {
    & .heading-type__sub-title {
      margin-top: 0px;
    }
  }

  &__content {
    margin-top: 24px;
  }
}

//creators
.creators {
  &__container {
  }

  &__content {
  }

  &__label {
    border: 1px solid $color-green;
    border-radius: 58px;
    display: inline-flex;
    min-width: 64px;
    min-height: 28px;

    text-align: center;
    align-items: center;
    justify-content: flex-start;

    padding: 8px 13px;
  }

  &__label-value {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: $color-white;
  }

  &__title {
    font-size: 64px;
    line-height: 106%;
    max-width: 624px;
    color: $color-white;
    margin-top: 30px;

    @media screen and (max-width: $md-4) {
      font-size: 58px;
      margin-top: 26px;
    }
    @media screen and (max-width: $md-3) {
      font-size: 48px;
      margin-top: 20px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 36px;
      margin-top: 16px;
    }
  }

  &__text {
    margin-top: 42px;
    max-width: 567px;
    font-size: 20px;
    line-height: 140%;
    color: $color-white;

    @media screen and (max-width: $md-3) {
      font-size: 18px;
      margin-top: 30px;
    }
    @media screen and (max-width: $md-2) {
      font-size: 16px;
      margin-top: 20px;
    }
  }

  &__button {
    @include button-main(
      $color-white,
      $color-font-black,
      $color-white,
      $color-font-black,
      $color-white,
      $color-font-black
    );
    margin-top: 32px;
    min-width: 360px;

    @media screen and (max-width: 568px) {
      max-width: none;
      min-width: auto;
      width: 100%;
    }
  }

  &__slider-container {
    max-width: $main-container-size-sub;

    margin: 170px auto 0px auto;
    @media screen and (max-width: 1200px) {
      margin: 120px auto 0px auto;
    }
    @media screen and (max-width: $md-4) {
      margin: 100px auto 0px auto;
    }
    @media screen and (max-width: $md-3) {
      margin: 80px auto 0px auto;
    }
    @media screen and (max-width: 640px) {
      margin: 60px auto 0px auto;
    }
    @media screen and (max-width: $md-2) {
      margin: 40px auto 0px auto;
    }
  }
  &__slider {
    &.swiper {
    }
  }
  &__slider-inner {
    display: flex;
  }

  &__slide {
    position: relative;

    overflow: hidden;
    &::before {
      transition: all 0.5s ease 0s;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 88.8%;
      height: 88.8%;

      border: 2px solid $color-white;
      border-radius: 4px;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    @media screen and (min-width: 640px) {
      &:hover {
        &::before {
          width: 95%;
          height: 95%;
        }
        & .creators__slide-decor {
          transform: scale(0.8) translate(-60%, -60%);
        }
        & .creators__image {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    padding-bottom: 136.6%;
    transition: all 0.5s ease 0s;
    @media screen and (max-width: $md-4) {
      padding-bottom: 100%;
    }
    @media screen and (max-width: 640px) {
      padding-bottom: 120%;
    }
  }

  &__slide-decor {
    transition: all 0.5s ease 0s;
    line-height: 106%;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    padding: 0px 30px;

    @include adaptive-font-size(56, 20, 1388);

    @media screen and (min-width: 1388px) {
      font-size: 56px;
    }
    @media screen and (max-width: 639px) {
      @include adaptive-font-size(60, 30, 639);
    }
  }

  &__signature {
    max-width: 203px;
    margin: 60px 18px 0px auto;
    text-align: center;

    @media screen and (max-width: $md-4) {
      margin-top: 40px;
    }
    @media screen and (max-width: 640px) {
      margin: 30px auto 0px auto;
    }
    @media screen and (max-width: $md-2) {
      margin: 20px auto 0px auto;
    }
  }

  &__signature-text {
    font-size: 14px;
    line-height: 215%;
    text-align: center;
    color: $color-white;
    @media screen and (max-width: $md-2) {
      font-size: 12px;
    }
  }
}
