//buttons

//main button
@mixin button-main(
  $color,
  $color-background,
  $color-border,
  $color-hover,
  $color-background-hover,
  $color-border-hover
) {
  border: 1px solid $color-border;
  border-radius: 12px;
  padding: 10px 30px;
  background-color: $color-background;

  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  & span {
    font-size: 20px;
    line-height: 140%;
    color: $color;
  }
  transition: all 0.5s ease 0s;

  @media screen and (min-width: $md-2) {
    &:hover {
      border-color: $color-border-hover;
      background-color: $color-background-hover;

      & span {
        color: $color-hover;
      }
    }
  }
}

//font

//adaptive font size
@mixin adaptive-font-size($desctopSize, $mobileSize, $maxWidth) {
  $addSize: $desctopSize - $mobileSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media screen and (max-width: $md-3) {
    font-size: calc(#{$mobileSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media screen and (min-width: $md-3) {
    font-size: calc(#{$mobileSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
