//base sizes
$main-container-size: 1194px;
$main-container-size-sub: 1358px;

//colors
$color-white: #ffffff;
$color-white-sub: #f7f2e4;

$color-purple: #7352ff;

$color-black: #000;
$color-black-sub: #1d1d1d;
$color-font-black: #191919;
$color-grey: #2b2a35;

$color-orange: #ff573d;

$color-yellow: #f6c627;

$color-green: #6ee4b5;

$color-green-sub: #a4b96d;

//brakepoints
$md-1: 320px;
$md-2: 480px;
$md-3: 768px;
$md-4: 1024px;
$md-5: 1920px;
