//base sizes
$main-container-size: 1194px;
$main-container-size-mod: 1224px; //Container size with paddings
$main-container-size-sub: 1358px;
$container-size-secure: 1440px; //container for secure block (decor element)

//colors
$color-white: #ffffff;
$color-white-sub: #f7f2e4;

$color-purple: #7352ff;

$color-black: #000;
$color-black-sub: #1d1d1d;
$color-font-black: #191919;
$color-grey: #2b2a35;
$color-grey-sub: #ededed;

$color-orange: #ff573d;

$color-yellow: #f6c627;

$color-green: #6ee4b5;

$color-green-sub: #a4b96d;

//brakepoints
$md-1: 320px;
$md-2: 480px;
$md-3: 768px;
$md-4: 1024px;
$md-5: 1920px;

//buttons

@mixin button-form(
  $font-color,
  $back-color,
  $font-color-hover,
  $back-color-hover,
  $font-color-active,
  $back-color-active
) {
  padding: 21px 45px;

  border-radius: 19.9872px;
  background-color: $back-color;
  color: $font-color;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;

  @media screen and (min-width: $md-2) {
    &:hover {
      color: $font-color-hover;
      background: $back-color-hover;
    }
  }
  &:active {
    color: $font-color-active;
    background: $back-color-active;
  }
}
